<section class="py-4  ">
    <div class="container">
        <article class="pb-2">
            <h1 style="color: black;">protfolio </h1>
            <div class="decor d-flex justify-content-center align-items-center">
                <div class="line bg-dark"></div>
                <i class="fa-solid fa-asterisk fa-2x" style="color: black;"></i>
                <div class="line bg-dark"></div>
            </div>
        </article>
        <div class="row">
            <div class="col-lg-4 ">
                <img src="../../assets/img/01.png" alt="image">
                <div class="overlay">
                    <button class="icon" (click)="toggleDiv()"> <i class="fa-solid fa-plus fa-5x"></i></button>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  ">
                <img src="../../assets/img/02.png" alt="image">
                <div class="overlay">
                    <button class="icon" (click)="toggleDiv()"> <i class="fa-solid fa-plus fa-5x"></i></button>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <img src="../../assets/img/03.png" alt="image">
                <div class="overlay">
                    <button class="icon" (click)="toggleDiv()"> <i class="fa-solid fa-plus fa-5x"></i></button>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4 ">
                <img src="../../assets/img/04.png" alt="image">
                <div class="overlay">
                    <button class="icon" (click)="toggleDiv()"> <i class="fa-solid fa-plus fa-5x"></i></button>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <img src="../../assets/img/05.png" alt="image">
                <div class="overlay">
                    <button class="icon" (click)="toggleDiv()"> <i class="fa-solid fa-plus fa-5x"></i></button>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <img src="../../assets/img/06.png " alt="image">
                <div class="overlay text-center">
                    <button class="icon" (click)="toggleDiv()"> <i class="fa-solid fa-plus fa-5x"></i></button>
                </div>
                <div class="wraper  100-vh    bg-white  " *ngIf="show">
                    <div class="container  ">

                        <div class="text-right "> <button (click)="toggleDiv()" class="close ">&times;</button></div>
                        <div class=" another    d-flex flex-column justify-content-center align-items-center  ">
                            <article>
                                <h1>submarine </h1>
                                <div class="decor d-flex justify-content-center align-items-center">
                                    <div class="line"></div>
                                    <i class="fa-solid fa-asterisk fa-2x"></i>
                                    <div class="line"></div>
                                </div>
                            </article>
                            <div class="text-center my-3 pic">
                                <img src="../../assets/img/06.png">
                            </div>
                            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur
                                itaque. Nam.
                            </p>
                            <button (click)="toggleDiv()" class="either ">&times; close window</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
