<section class="py-5">
    <div class="container">
        <article>
            <h1>contact me</h1>
            <div class="decor d-flex justify-content-center align-items-center">
                <div class="line"></div>
                <i class="fa-solid fa-asterisk fa-2x"></i>
                <div class="line"></div>
            </div>
        </article>
        <div class="wrapper">
            <form class="mt-5">
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email Address">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Phone Number">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Message"></textarea>
                </div>
                <div class="clicking">
                    <button type="submit" class="btn mt-3 text-left">Send</button>
                </div>
            </form>
        </div>
    </div>

</section>
